/*common styles*/

.content-width {
    max-width: 1040px;
    margin:0 auto;
    padding-left:20px;
    padding-right:20px;
    position: relative;
    /*background-color:red;*/
}

.hover-opacity {
    transition-duration: 0.2s;
}

.hover-opacity:hover {
    opacity: 0.5;
}

.pc-br {
    display:block;
}

.sp-br {
    display:inline;
}

.under-marker {
    background:linear-gradient(transparent 60%, #fff79d 60%);
    padding-bottom:3px;
}

.contents-alignment {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

br {
    display:none;
}

@media screen and (max-width:767px) {
    
    .content-width {
        width:90%;
        position:relative;
    }
    
    br {
        display:block;
    }
    

    .pc-br {
        display:inline;
    }

    .sp-br {
        display:block;
    }
    
    .contents-alignment {
        display:block;
    }



}

/*header-section*/

.course-header {
    height:50px;
    width: 100%;
    background-color: #fff;
}

.header-logo {
    float: left;
}

.header-logo img {
    width:200px;
    padding-top:10px;
}

.drawer-hidden {
  display: none;
}

.drawer-content {
    display:none;
}

.header-list ul {
    list-style: none;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}

.header-list li {
    display: inline-block;
    text-align:center;
    margin-left:30px;
    font-size:7px;
}

.header-list span {
    font-size:12px;
}

.header-item-link {
    text-decoration: none;
    color:black;
    font-weight: bold;
}


.header-item-link br {
    display:block;
}

.selected {
    color:#f79214;
}

.header-item-counseling {
    background-color: #f79314;
    padding:15px 17px;
    border-radius: 25px;
    font-size:10px;
}

/*header responsive design */

@media screen and (max-width:1080px) {
    
    .course-header {
        position:sticky;
        top:0;
        z-index: 50;
    }
    
    .header-list ul {
        display:none;
    }
    
    /* ハンバーガーアイコンの設置スペース */
    .drawer-open {
        display: flex;
        margin-left:auto;
        margin-right:5px;
        height: 50px;
        width: 50px;
        justify-content: center;
        align-items: center;
        position: relative;
        z-index: 100;/* 重なり順を一番上に */
        cursor: pointer;
    }
    
    /* ハンバーガーメニューのアイコン */
    .drawer-open span,
    .drawer-open span:before,
    .drawer-open span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background: #333;
        transition: 0.5s;
        position: absolute;
    }
    
    /* 三本線のうち一番上の棒の位置調整 */
    .drawer-open span:before {
        bottom: 8px;
    }
    
    /* 三本線のうち一番下の棒の位置調整 */
    .drawer-open span:after {
        top: 8px;
    }

    /* アイコンがクリックされたら真ん中の線を透明にする */
    #drawer-check:checked ~ .drawer-open span {
        background: rgba(255, 255, 255, 0);
    }
    
    /* アイコンがクリックされたらアイコンが×印になように上下の線を回転 */
    #drawer-check:checked ~ .drawer-open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    
    #drawer-check:checked ~ .drawer-open span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    
    .drawer-content {
        display:block;
        width: 100%;
        height: 500px;
        position: fixed;
        top: 0;
        left: 100%;/* メニューを画面の外に飛ばす */
        z-index: 99;
        background-color:rgba(0, 0, 0, 0.8);
        transition: .5s;
        margin-top:60px;
        
    }
    
    /* アイコンがクリックされたらメニューを表示 */
    #drawer-check:checked ~ .drawer-content {
        left: 0;/* メニューを画面に入れる */
    }    
    
    
    
}

/*course-top section*/

.course-top-background-img {
    padding:35px 0;
    background-color: #f79314;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/course-hero-pc.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:1440px;
}

.course-top-background-img .content-width {
    height: 100%;
    display:flex;
    align-items:center;
}

.course-top-title {
    color:#fff;
    font-size:40px;
    margin-left:160px;
    letter-spacing: 5px;
}

/*course-top responsive design*/

@media screen and (max-width:1080px) {
    
    .course-top-background-img {
    }
    
    
    
}

@media screen and (max-width:767px) {
    
    .course-top-background-img {
        background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/course-hero-sp.png);
        background-size: contain;
    }
    
    .course-top-background-img .content-width {
        display: block;
        text-align: center;
    }
    
    .course-top-title {
        font-size:23px;
        margin:15px auto 65px;
    }
    
    
    
    
}

/*about-course section */

.about-course {
    background-color:#fcfaf5;
    width:100%;
}

.about-course-title {
    position: relative;
    text-align: center;
    padding-top:40px;
}

.about-course-title h2 {
    font-size:45px;
    margin-bottom:80px;
}

.about-course-title:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -25px;/*線の上下位置*/
    display: inline-block;
    width: 50px;/*線の長さ*/
    height: 6px;/*線の太さ*/
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);/*位置調整*/
    background-color:#f79314;/*線の色*/
}

.about-course-description {
    text-align: center;
    margin-top:30px;
    line-height:1.8em;
}

.about-course-description-emphasis {
    font-weight:bold;
    font-size:20px;
}


/*about-course responsive design*/


@media screen and (max-width:767px) {
    
    .about-course-title {
        padding-top:30px;
    }
    
    .about-course-title h2 {
        font-size:25px;
        line-height: 1.3em;
    }
    
    .about-course-description {
        text-align:left;
        font-size:13px;
        line-height: 2em;
    }
    

    .about-course-description-emphasis {
        text-align: center;
    }
    
    
    
    
}


/*全コースの共通ポイント*/


.about-course-common-points {
    background-color:#fff;
    padding:50px 40px 15px;
    margin-top:100px;
    border-radius:20px;
    text-align: center;
}

.about-course-common-points-image {
    display:flex;
    align-items:center;
    justify-content:center;
    height:100px;
    width:100px;
    border-radius:50%;
    margin:-100px auto -20px;
    background-color: #fff;
}

.about-course-common-points-image img {
    width:40px;
}

.about-course-common-points-title {
    font-size:25px;
    margin:0;
    margin-bottom:20px;
    text-align: center;
}

.about-course-common-points-item {
    width:31%;
    text-align:center;
}

.about-course-common-points-item p {
    text-align: center;
    font-weight:bold;
}

.common-points-item-title {
    background-color:#303030;
    color:#fff;
    border-radius:15px;
    font-size:13px;
    padding-top:5px;
    padding-bottom:3px;
}

.about-course-common-points-item img {
    width:100%;
}

.common-points-item-text {
    display: inline-block;
    position: relative;
}

.common-points-item-text::before {
    content: "";
    position:absolute;
    left:-30px;
    display: inline-block;
    height:25px;
    width:25px;
    margin-right:5px;
    background-image:url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/icon-finger.png);
    background-size: contain;
    background-repeat: no-repeat;
}

/*common-points responsive design*/

@media screen and (max-width:767px) {
    
    .about-course-common-points {
        padding: 50px 20px 15px;
    }
    
    .about-course-common-points-image {
        height:85px;
        width:85px;
        margin:-90px auto -25px;
    }
    
    .about-course-common-points-image img {
        width:30px;
    }
    
    .about-course-common-points-title {
        font-size:20px;
    }
    
    .about-course-common-points-item {
        width:100%;
    }
    
    .common-points-item-text {
        font-size:14px;
        margin-bottom:20px;
    }
    
    .common-points-item-text::before {
        left:-25px;
        height:20px;
        width:20px;
    }
    
}



/*それぞれのコース内容について*/


.about-course-detail {
    margin:60px 0;
    display:flex;
    justify-content:space-around;
}

.about-course-detail-box {
    width:46%;
    text-align: center;
    background-color: #fff;
    border-radius:15px;
    border:1px solid #eaeaea;
    overflow: hidden;
    
}

.about-course-detail-head {
    background-color: #f79214;
    padding:15px 0;
    
}

.about-course-detail-head>p {
    color:#fff;
    font-weight:bold;
    margin:0px;
    font-size:20px;
}

.about-course-detail-head span {
    font-size:15px;
}


.about-course-detail-body-price {
    font-size:30px;
    font-weight:bold;
    margin:12px;
}

.about-course-detail-body-price::before {
    content:"￥";
}

.about-course-detail-body-price::after {
    content:"税別";
    font-size: 13px;
    margin-left:4px;
}

.about-course-detail-body-text {
    font-size:17px;
    text-align: left;
    line-height: 2em;
    color:#888;
}

.about-course-detail-content {
    padding:18px
}

.about-course-detail-content a {
    text-decoration: none;
    color:#f79314;
    font-weight: bold;
    font-size:14px;
}

.about-course-detail-content a::before {
    content:"";
    display:inline-block;
    height:3px;
    width:3px;
    margin-right:10px;
    margin-bottom:5px;
    border:1px solid;
    border-color: transparent transparent #f79314 #f79314;
    transform:rotate(-45deg);
}

.about-course-detail-content>span {
    color:#f79214;
    margin:5px;
}

.about-course-detail-content:nth-child(2n) {
    background-color: #fffdfa;
}

.about-course-detail-content:nth-child(2n+1) {
    background-color: #fff8ea;
}

.about-course-detail-learning-term {
    font-weight: bold;
    padding:8px;
}

.about-course-detail-learning-term:first-letter {
    font-size:30px;
}

/*それぞれのコース内容について responsive design*/

@media screen and (max-width:767px) {
    
    .about-course-detail {
        display: block;
    }
    
    .about-course-detail-box {
        width:100%;
        margin-bottom:50px;
    }

    .about-course-detail-head>p {
        font-size:17px;
    }
    
    .about-course-detail-head span {
        font-size:12px;
    }

    .about-course-detail-body-price {
        font-size:27px;
    }
    
    .about-course-detail-body-price::after {
        content:"税別";
        font-size: 12px;
        margin-left:4px;
    }

    .about-course-detail-body-text {
        font-size:15px;
        text-align: left;
        line-height: 2em;
        color:#888;
    }
    
    .about-course-detail-content {
        font-size:13px;
    }
    
    
    .about-course-detail-learning-term:first-letter {
        font-size:27px;
    }
    
}


/*course-plan section*/

.course-plan {
    background-color:#fff;
    width:100%;
    display:flex;
    justify-content:center;
}

.course-plan-title {
    position: relative;
    text-align: center;
    padding-top:40px;
}

.course-plan-title h2 {
    font-size:45px;
    margin-bottom:80px;
}

.course-plan-title:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -25px;/*線の上下位置*/
    display: inline-block;
    width: 50px;/*線の長さ*/
    height: 6px;/*線の太さ*/
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);/*位置調整*/
    background-color:#f79314;/*線の色*/
}

/*course-plan-title responsive*/

@media screen and (max-width:767px) {
    
    .course-plan-title {
        padding-top:30px;
    }
    
    .course-plan-title h2 {
        font-size:25px;
        line-height: 1.3em;
    }
    
}

/*course-plan-detail*/

.course-plan-box {
    background-color:#fcfaf5;
    border-radius:20px;
    padding:40px;
    margin:70px 0 0;
}

.course-plan-box h4 {
    font-size:20px;
    margin:0;
    margin-bottom:10px;
}

.course-plan-box h4::before {
    content:"";
    display: inline-block;
    height:1em;
    width:1em;
    margin-bottom:-2px;
    margin-right:7px;
    background-image:url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/heading-icon.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}

.box-item {
    background-color:#fff;
    margin:40px 0;
    border-radius:20px;
    padding:15px 20px;
}

.course-plan-box-titles {
    text-align:center;
}

.course-plan-box-subtitle {
    margin:0;
    font-weight:bold;
}

.course-plan-box-maintitle {
    margin:0;
    margin-top:5px;
    font-size:36px;
    background: linear-gradient(to right, #f79214 0%, #f74e06 100%);
    -webkit-background-clip: text;
    color: transparent;
}


.course-plan-recommended-point>ul {
    list-style:none;
    padding:0;
    margin:0;
}

.recommended-point-list>li {
    padding-bottom:0.3em;
}

.recommended-point-list>li::before {
    content:"";
    display:inline-block;
    height:0;
    width:0;
    border:4px solid #f79314;
    border-radius:50%;
    margin-right:10px;
}

.course-plan-outline-items>dt {
    display:inline-block;
    padding:5px 25px;
    border-radius: 20px;
    background-color: #fcfaf5;
    font-weight: bold;
    color:#f79314;
}

.course-plan-outline-items>dd {
    margin:20px;
}

.course-plan-outline-items p {
    margin:0;
}

.course-plan-outline-item-contents::before {
    content:"";
    display: inline-block;
    height:1em;
    width:1em;
    margin-bottom:-2px;
    margin-right:7px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/icon-pencil.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}

.course-plan-outline-item-term::before {
    content:"";
    display: inline-block;
    height:1em;
    width:1em;
    margin-bottom:-2px;
    margin-right:7px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/icon-calender.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}

.course-plan-outline-item-requirement::before {
    content:"";
    display: inline-block;
    height:1em;
    width:1em;
    margin-bottom:-2px;
    margin-right:7px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/icon-condition.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}

.course-plan-outline-item-fee::before {
    content:"";
    display: inline-block;
    height:1em;
    width:1em;
    margin-bottom:-2px;
    margin-right:7px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/icon-coin.png);
    background-size: contain;
    background-repeat: no-repeat;
    
}

.course-plan-curriculum-items {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}

.course-plan-curriculum-items img {
    width:100%;
}

.course-plan-curriculum-item {
    width:49%;
}

.course-plan-curriculum-item p {
    display:block;
    margin:10px 0 15px;
}

.course-plan-curriculum-item .item-name {
    font-size:20px;
    font-weight:bold;
}

.course-plan-skip-class {
    display:flex;
}

.course-plan-skip-class p {
    margin:5px;
}

.course-plan-skip-class-image {
    margin-top:5px;
    margin-right:15px;
}

.course-plan-skip-class-description h5 {
    margin:5px 5px 10px;
    font-size:20px;
}

.course-plan-skip-class-description span {
    color:#f79314;
}

/*course-plan-detail responsive design*/

@media screen and (max-width:767px) {
    
    .course-plan-box {
        padding:18px;
    }
    
    .course-plan-box-subtitle {
        font-size:15px;
    }
    
    .course-plan-box-maintitle {
        font-size:22px;
    }
    
    .box-item {
        margin:15px 0;
        padding:15px;
    }
    
    .course-plan-box h4 {
        font-size:18px;
        text-align: center;
    }
    
    .recommended-point-list>li {
        font-size:15px;
        padding-bottom:0.7em;
        padding-left: 1em;
        text-indent: -1em;
    }
    
    .course-plan-outline-items {
        text-align: center;
    }
    
    .course-plan-outline-items>dd {
        margin-left:0;
        margin-right:0;
    }
    
    .course-plan-outline-items p {
        font-size:13px;
        margin:1em 0;
    }
    
    .course-plan-curriculum-item {
        margin-top:20px;
        width: 100%;
    }
    
    .course-plan-curriculum-item p {
        margin:7px 0;
    }
    
    .course-plan-curriculum-item .item-name {
        font-size:18px;
    }
    
    .course-plan-skip-class {
        display:block;
    }
    
    .course-plan-skip-class-image {
        margin:0;
        text-align: center;
        
    }
    
    .course-plan-skip-class-image img {
        width:50%;
    }
    
    .course-plan-skip-class-description>h5 {
        text-align: center;
        font-size:18px;
    }
    
    
}



/*interview section*/

.interview {
    width: 100%;
    background-color: #f6f6f6;
    display: flex;
    justify-content:center;
    margin-top:50px;
    padding-bottom:70px;
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/bg-section-top-course.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: top 15% right 15% ;
}

.interview-title {
    text-align: center;
    padding-top: 50px;
    position:relative;
    margin-bottom:100px;
}

.interview-title h2 {
    font-size: 45px;
    margin-bottom:-20px;
}

.interview-title:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -30px;/*線の上下位置*/
    display: inline-block;
    width: 60px;/*線の長さ*/
    height: 6px;/*線の太さ*/
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);/*位置調整*/
    background-color:#f79314;/*線の色*/
}

.interview-list ul {
    list-style: none;
    display: flex;
    justify-content:space-between;
    padding-left:0;
}

.interview-list li {
    position: relative;
    width: 31%;
}

.interview-item {
    text-decoration: none;
    color:#000;
}

.interview-item-thumnail {
    overflow: hidden;
    height:220px;
    border-radius:10px;
}

.interview-list img {
    height:310px;
    width: 100%;
    object-fit: cover;
    transition-duration: 0.3s;
}

.interview-list li:hover .interview-item-thumnail img {
    transform: scale(1.1, 1.1);
    transition-duration: 0.3s;
}

.interview-list li:hover .interview-item-description {
    color:#f79314;
}

.interview-item-course {
    color:#f79314;
    padding-bottom: 5px;
    border-bottom:solid 1px #fff;
}

.interview-item-initial {
    font-size:18px;
}

.interview-item-former-job {
    font-size:12px;
    margin-left:10px;
}

.interview-item-description {
    font-size:15px;
    font-weight: bold;
    line-height: 25px;
}

.interview-button {
    display:block;
    text-align: center;
    width:300px;
    padding:5px;
    margin:50px auto;
    background-color: #f79314;
    border-radius: 30px;
    text-decoration: none;
    color:#fff;
    font-weight:bold;
    font-size:13px;
}

.interview-button:hover {
    opacity: 0.5;
}

.interview-button span {
    font-size:15px;
    letter-spacing: 3px;
}

/*interview responsive design*/

@media screen and (max-width:767px) {
    
    .interview {
        background-size: 140px;
        background-position: top 40px right 20px ;
    }
    
    .interview-title {
        padding-top:30px;
    }
    
    .interview-title h2 {
        font-size:25px;
        line-height: 1.3em;
    }
    .interview-list ul {
        display:block;
    }
    
    
    .interview-list li {
        width: 100%;
        margin-bottom:30px;
    }
    
    
    
    
    
    
    
}




footer {
    width: 100%;
    background-color: #f79314;
    padding-top:80px;
    padding-bottom:40px;
}

.footer-container {
    display:flex;
    justify-content:space-between;
}

.footer-main-info-logo img {
    width: 300px;
}

.footer-main-info-logo img:hover {
    opacity: 0.5;
}

.footer-main-info-company p {
    color:#fff;
    font-weight: bold;
}

.footer-main-info-company-address {
    margin:0;
}

.footer-main-info-sns img {
    width:60px;
    margin-top:30px;
    margin-right:20px;
}

.footer-main-items ul {
    list-style: none;
}

.footer-main-items li {
    margin-bottom:30px;
}

.footer-main-items li a {
    color:#fff;
    text-decoration: none;
}

.footer-main-items li span {
    font-weight: bold;
    margin-right:20px;
}

.footer-main-character {
    margin-top:250px;
    margin-right:10px;
}

.footer-main-character img {
    width:120px;
}

.footer-copyright p {
    color:#fff;
    font-size:10px;
}

/*footer responsive design*/

@media screen and (max-width:767px) {
    
    footer {
        padding-top:50px;
    }
    
    
    .footer-container {
        flex-direction:column;
    }
    
    .footer-main-about-company {
        text-align: center;
        order:3;
    }
    
    .footer-main-info-sns img {
        margin:20px 10px;
    }
    
    .footer-main-character {
        margin:30px auto;
        order:2;
    }
    

    .footer-main-items {
        order:1;
    }
    
    .footer-main-items ul {
        padding-left:20px;
    }
    
    .footer-main-info-logo {
        border-top:1px solid #fff;
    }
    
    .footer-main-info-logo img {
        width:270px;
        padding-top:30px;
    }
    
    .footer-copyright {
        margin-top:50px;
        text-align: center;
    }
    
    
}






